<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables CSS and JS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Details</title>
    <style>
      .color-box {
        width: 25px;
        height: 25px;
        display: inline-block;
        border: 1px solid #ddd;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 8px 15px;
        border: 1px solid #ddd;
        font-size: 0.785714286em;
      }

      th {
        background-color: #f2f2f2;
      }

      tbody tr:hover {
        background-color: #f5f5f5;
      }

      .highlight-green {
        background-color: #90ee90; /* Light Green */
      }

      .highlight-dark-green {
        background-color: #006400; /* Dark Green */
        color: white;
      }

      .highlight-very-dark-green {
        background-color: #004d00; /* Very Dark Green */
        color: white;
      }
    </style>
  </head>

  <body>
          <div class="card text-center">
            <div class="card-header">
              <h2>{{ team.name }}</h2>
            </div>
            <div class="card-body">
              <p class="card-text">Full Name: {{ team.fullName }}</p>
              <p class="card-text">Short Name: {{ team.shortName }}</p>
              <p class="card-text">
                Manager: {{ team.manager.name }} from {{
                team.manager.country.name }}
              </p>
              <p class="card-text">
                Venue: {{ team.venue.stadium.name }} in {{ team.venue.city.name
                }}
              </p>
              <p class="card-text">
                Colors:
                <span
                  class="badge"
                  style="background-color: {{ team.teamColors.primary }}"
                  >Primary - {{ team.teamColors.primary }}</span
                >
                <span
                  class="badge"
                  style="background-color: {{ team.teamColors.secondary }}"
                  >Secondary - {{ team.teamColors.secondary }}</span
                >
              </p>
              <p class="card-text">League: {{ team.tournament.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-3">
      <div class="text-center mb-4">
        <h2>Players</h2>
        <div class="btn-group mt-2" role="group">
          <button
            onclick="highlightData('[data-fouls]')"
            class="btn btn-outline-primary"
          >
            Fouls
          </button>
          <button
            onclick="highlightData('[data-shots-off]')"
            class="btn btn-outline-primary"
          >
            Shots Off Target
          </button>
          <button
            onclick="highlightData('[data-shots-on]')"
            class="btn btn-outline-primary"
          >
            Shots On Target
          </button>
          <button
            onclick="highlightData('[data-yellow]')"
            class="btn btn-outline-warning"
          >
            Yellow Cards
          </button>
          <button
            onclick="highlightData('[data-red]')"
            class="btn btn-outline-danger"
          >
            Red Card
          </button>
        </div>
      </div>

      <div class="mb-3 d-flex justify-content-start">
        <label for="positionFilter" class="me-2">Filter by Position:</label>
        <select
          id="positionFilter"
          class="form-select form-select-sm"
          style="width: auto"
        >
          <option value="">All</option>
          <option value="G">Goalkeeper</option>
          <option value="D">Defender</option>
          <option value="M">Midfielder</option>
          <option value="F">Forward</option>
          <!-- ... other positions ... -->
        </select>
      </div>
    </div>

    <table
      id="myTable"
      class="table table-bordered table-striped table-hover small"
    >
      <thead>
        <tr>
          <th>Player ID</th>
          <th>Avg Minutes</th>
          <th>Player Name</th>
          <th>Country</th>
          <th>Position</th>
          <th>Preferred Foot</th>
          {% for match in matches %}
          <th>
            {{ match.homeTeam.name }} vs {{ match.awayTeam.name }} ({{
            match.startTimestamp|format_timestamp }})
            <br />
            {{ match.tournament.name}}
            <br />
            {{ match.id}}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for player_data in players %}
        <tr>
          <td>{{ player_data.player.id }}</td>
          <td>
            {{ avg_minutes_played.get(player_data.player.id, 0) | round(2) }}
          </td>
          <td>{{ player_data.player.name }}</td>
          <td>{{ player_data.player.country.name }}</td>
          <td>{{ player_data.player.position }}</td>
          <td>{{ player_data.player.preferredFoot }}</td>
          {% for match in matches %}
          <td>
            <!-- Was Fouled -->
            <div class="data-container">
              Was Fouled:
              <span data-was-fouled>
                {{ fouls_data.get(player_data.player.id, {}).get(match.id,
                {}).get('wasFouled', 'No data') }}
              </span>
            </div>

            <!-- Fouls -->
            <div class="data-container">
              Fouls:
              <span data-fouls>
                {{ fouls_data.get(player_data.player.id, {}).get(match.id,
                {}).get('fouls', 'No data') }}
              </span>
            </div>

            <!-- Shots Off Target -->
            <div class="data-container">
              Shots Off Target:
              <span data-shots-off>
                {{ fouls_data.get(player_data.player.id, {}).get(match.id,
                {}).get('shotOffTarget', 'No data') }}
              </span>
            </div>

            <!-- Shots On Target -->
            <div class="data-container">
              Shots On Target:
              <span data-shots-on>
                {{ fouls_data.get(player_data.player.id, {}).get(match.id,
                {}).get('shotOnTarget', 'No data') }}
              </span>
            </div>

            <!-- Yellow Cards -->
            <div class="data-container">
              Yellow Cards:
              <span data-yellow>
                {{ cards_data.get(player_data.player.id, {}).get(match.id,
                {}).get('yellowCardsCount', 0) }}
              </span>
            </div>

            <!-- Red Card -->
            <div class="data-container">
              Red Card:
              <span data-red>
                {{ 'Yes' if cards_data.get(player_data.player.id,
                {}).get(match.id, {}).get('redCard', False) else 'No' }}
              </span>
            </div>
            <!-- Minutes Played -->
            <div class="data-container">
              Minutes Played:
              <span data-minutes>
                {{ fouls_data.get(player_data.player.id, {}).get(match.id,
                {}).get('minutesPlayed', 'No data') }}
              </span>
            </div>
          </td>

          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>

  <script>
    function hideData() {
      // hide all data elements
      let allDataElements = document.querySelectorAll(".data-container");
      allDataElements.forEach((element) => {
        element.style.display = "none";
      });
    }

    function highlightData(selector) {
      hideData(); // hide all data elements
      clearHighlights(); // clear previous highlights

      let dataElements = document.querySelectorAll(selector);

      // Show the selected data elements and apply the necessary highlights
      dataElements.forEach((element) => {
        let value = parseInt(element.textContent);
        let container = element.closest(".data-container"); // get the parent container
        container.style.display = "block"; // Show the selected data elements

        if (value === 1) {
          container.classList.add("highlight-green");
        } else if (value === 2) {
          container.classList.add("highlight-dark-green");
        } else if (value > 2) {
          container.classList.add("highlight-very-dark-green");
        }
      });
    }

    function clearHighlights() {
      let highlighted = document.querySelectorAll(
        ".highlight-green, .highlight-dark-green, .highlight-very-dark-green"
      );
      highlighted.forEach((el) => {
        el.classList.remove(
          "highlight-green",
          "highlight-dark-green",
          "highlight-very-dark-green"
        );
      });
    }

    $(document).ready(function () {
      $("#myTable").DataTable();
    });

    $("#myTable").DataTable({
      order: [[1, "desc"]],
      paging: false,
      lengthChange: false, // Assuming the minutes played is the second column (0-indexed)
    });

    $(document).ready(function () {
      var table = $("#myTable").DataTable();

      // Assuming you have a <select id="positionFilter"> element with position options
      $("#positionFilter").on("change", function () {
        table.column(4).search(this.value).draw(); // Assuming position is the fifth column
      });
    });
  </script>
</html>
